.App {
background-color: white;
}

.Chip-border{
    border-width: 0.2rem;
}

.Logo{
    height: 3rem;
    width: 15rem;
}

.verticalLine {
    border-left: 1px solid #ccc;
    height: 100%;
    margin: 0 16px
  } 